body {
    font-family: 'Roboto', sans-serif;
    background: #E8E8E8;
    color: #4A4A4A;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    
}

input {
    width: 100%;
    font-size: 18px;
    margin-top: 10px; 
    margin-bottom: 10px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 25%;
    height: 50px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;

    background: #284DD3;
    border-color: #17359E;
    border-width: 0.25px;
    color: white;
}

.centerButton {
    display: flex; 
    justify-content: center
}

.formError {
    font-weight: 400;
    color: #CE6767;
}

.card {
    background: #FDFDFD;
    border: 1px solid #DEDEDE;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.guitarTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #284DD3; 
}

.guitarDetails {
    margin-top: -15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #474747;
}

.sectionHeading { 
    text-align: center;
}

.playability {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.green {
    color: #89C87A;
}

.yellow {
    color: #DDD407;
}

.red {
    color: #CE6767;
}

.center {
    text-align: center;
}

nav {
    background-color:#284DD3;
    border-bottom: 0.5px;
    border-bottom-color: rgba(221, 221, 221, 1);
    border-bottom-style: solid;
    height: 75px;
    margin-top: -20px;
}

.header {
    background-color: white;
    height: 100%;
}

.navLink {
    font-size: 24px;
    line-height: 75px;
    width: 71px;
    margin: 15px;
    height: 75px;
    color: white;
}

.navLink a:visited {
    color: white;
}

.navLink a {
    color: white;
}


.navLinkList li {
    display: inline;
}

.serviceHistory {
    background: rgba(40, 77, 211, 0);
    border: 1px solid #DFE1E5;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px; 
    padding-bottom: 5px;
}

.break {
    width: 100%;
    border: 1px solid #DFE1E5;
}
