.card {
    background: #FDFDFD;
    border: 1px solid #DEDEDE;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.guitarTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #284DD3; 
}

.guitarDetails {
    margin-top: -15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #474747;
}

.sectionHeading { 
    text-align: center;
}

.playability {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.playabilityDiv{
    margin-bottom: 10px;
}

.green {
    color: #89C87A;
}

.yellow {
    color: #DDD407;
}

.red {
    color: #CE6767;
}

.center {
    text-align: center;
}